<form method="post">
    <div>
        <label for="username_input">Nom d'utilisateur :</label>
        <input id="username_input" name="username" placeholder="totodu45" required="true" />
    </div>
    <div>
        <label for="password_input">Mot de passe :</label>
        <input id="password_input" name="password" placeholder="Mon MDP le plus sur" type="password" required="true" />
    </div>
    <div>
        <a href="register.php"> <input type="button" value="Créer un compte" /></a>
        <input type="submit" value="Se connecter" />
    </div>
</form>