main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

article{
    display: grid;
    grid-column: 2/5;
    grid-row: 2;
    padding: 2rem;
}
aside{
    padding: 1rem;
    grid-column: 1;
    grid-row: 2;
    border-right:  2px solid #000;
    margin: 1rem;
    gap: 1em; display:grid; grid-template-rows: repeat(7, min-content);
}

aside h2 {
    margin: 0.5em 0;
}

.filtres > form {
    display: grid;
    gap: 1em; 
}

.filtres h4 {
    margin: 0.25em 0;
}

.filtres fieldset {
    margin: 0;
}

.film{
    display: grid;
    border:  2px solid #000;
    margin: 1rem;
}
.film *{
    margin: 0.2rem;
}
.film h2, h3, p{
    grid-column: 1;

}
.imageFilm{
    grid-column: 2;
    grid-row: 1/5;
}
.film img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1) !important;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1) !important;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
