form>fieldset {
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto 1fr auto;
    gap: 1em;
}

form>fieldset>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.article>fieldset {
    display: flex;
}

.img-preview-container {
    flex-grow: 1;
}