form {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content;
    gap: 0.5em;
    grid-column: 1/3;
    margin: auto;
}

form>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

form>div>label {
    margin: auto 0;
    text-align: center;
}

input{
    padding: 0.5em;
}

a>input {
    width: 100%;
}