html, body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.article {
    flex-grow: 1;
    padding: 0.5em;
    margin: 0.5em;
    border: black 0.2em solid;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 1em;
}

header {
    padding: 0.5em;
    margin: 0.5em;
    border: black 0.2em solid;
}

header>h1 {
    margin: 0;
    padding: 0;
}

form input {
    padding: 0.5em;
}

form select {
    padding: 0.5em;
}

form label {
    margin: auto 0;
}

header>nav {
    display: grid;
    grid-template-columns: repeat(3, fit-content(33%));
    gap: 0.5em;
    grid-template-rows: 1fr;
    color: black;
    padding: 0.2em;
}

header>nav>a {
    color: black;
    border-bottom: solid transparent 0.2em;
}

header>nav>a:hover {
    border-bottom: solid black 0.2em;
}

header>nav>a:link {
    color: black;
    text-decoration: none;
}

footer {
    padding: 0.5em;
    margin: 0.5em;
    border: black 0.2em solid;
}

.info-message {
    background-color: rgba(100, 149, 237, 0.75);
    padding: 1em;
    border: rgba(100, 149, 237, 1) solid 0.5em;
    color: white;
    text-align: center;
    display: flex;
}

.info-message>p {
    margin: auto;
}

.error-message {
    background-color: rgba(176, 0, 32, 0.75);
    padding: 1em;
    border: rgba(176, 0, 32, 1) solid 0.5em;
    color: white;
    text-align: center;
    display: flex;
}

.error-message>p {
    margin: auto;
}

.article > .error-message {
    grid-column: 1/3;
}

.article > .info-message {
    grid-column: 1/3;
}

fieldset {
    border-color: black;
}

input[type=button] {
    background-color: transparent;
    border: 0.2em solid black;
}

input[type=submit] {
    background-color: transparent;
    border: 0.2em solid black;
}

input[type=button]:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

input[type=submit]:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
